body {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

    body .body-content {
        min-height: 600px;
        font-size: 14px;
    }

    body .body-content .btnItem {
        padding: 1px 5px 1px 5px;
    }
        body .body-content p .headerButton:hover {
            text-decoration: none;
            color: white;
        }
