body {
    padding-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

    body .body-content {
        min-height: 600px;
    }
/*body .body-content #RenderBody table tr{
            white-space: nowrap;
            font-size: 14px; 
        }*/
