
@{
    ViewBag.Title = "DuyetDiemTTTN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DuyetDiemTTTN</h2>

<table class="table table-bordered text-wrap">
    <tr class="table-primary">
        <th>
            Mã Đề Tài
        </th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.DeTaiDATN)
    {
    <tr>
        <td>
            @item.MaDeTai
        </td>
        <td width="15%">
            @*@Html.ActionLink("Sửa", "Edit", new { id = item.IdKetQua }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id = item.IdKetQua }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.IdKetQua })*@
        </td>
    </tr>
    }


</table>